<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <div>
          <h5>Restaurant Planner</h5>
        </div>
        <div class="d-flex gap-3">
          <button class="btn btn-dark" (click)="openCreateTable()">
            Create Table
          </button>
          <button class="btn btn-dark" (click)="openReservationAddModal()">
            New Reservation
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
